$black-solid: #181818;
$black-primary: rgb(24, 24, 24);
$black-secondary: rgba(33, 33, 33, 0.98);
$black-opacity: rgba(0, 0, 0, 0.4);

$grey-secondary: rgba(197, 197, 197, 0.5);

$blue-solid: #263850;
$blue-secondary: #3ea6ff;

$white: #ffffff;

$red-solid: #ff4e45;

$grey-primary: rgba(217, 217, 217, 0.5);